@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-bg-body: #C2C2C2;
    --color-bg-header: #55BC04;
    --color-bg-button-filter: #55BC04;
    --color-bg-filter: #FFFFFF;
    --color-bg-listing: #FFFFFF;

    --color-font-header: #FFFFFF;
    --color-font-button-filter: #FFFFFF;
    --color-font-input-filter: #C2C2C2;
    --color-font-card-p: #6F6F6F;
    --color-font-card-h2: #55BC04;

    --color-border-card: #55BC04;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

html, body {
    background-color: var(--color-bg-body);
}

.dsf-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dsf-mb20 {
  margin-bottom: 20px;
}